<div class="bg">
    <div class="parent">
        <div class="child">
            <h1 style="text-align: center;">Login</h1>
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()"> 
                <!-- Email Input -->
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="'Please input your email!'">
                        <nz-input-group nzPrefixIcon="user">
                            <input 
                                type="email" 
                                nz-input 
                                formControlName="userName" 
                                placeholder="Email" 
                            />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <!-- Password Input -->
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="'Please input your password!'">
                        <nz-input-group nzPrefixIcon="lock">
                            <input 
                                type="password" 
                                nz-input 
                                formControlName="password" 
                                placeholder="Password" 
                            />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <!-- Login Button -->
                <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
                or <a routerLink="/register">Register Now!</a>
            </form>
        </div>
    </div>
</div>
